<% include ../partials/header %>
<div class="container">
    <div class="row justify-content-center">
        <main role="main" class="px-2">
            <div class="alert alert-danger" role="alert">
                <h4>
                    Az oldal használatához nem rendelkezel elég jogosultsággal!
                </h4>
            </div>
            <form action="/auth/login" method="POST" class="form-inline">
                <button class="btn-lg btn-warning" type="submit">Panic button</button>
            </form>
        </main>
    </div>
</div>
<% include ../partials/footer %>