<% include ../partials/header %>

<div class="container">
<% itemRows.forEach(row => { %>
    <div class="row">
        <% row.forEach(item => { %>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive" src="<%= item.imgPath || 'https://placeholdit.imgix.net/~text?txtsize=28&txt=200%C3%97200&w=200&h=200' %>" >
                    <div class="card-body">
                        <h3><%= item.name %></h3>
                        <p class="description"> Darabszám: <%= item.count %></p>
                        <p class="description"> Készleten: <%= item.stock %></p>
                        <form action="#" method="GET" class="form-inline my-2 my-lg-0">
                            <input class="form-control" type="number" value="1" size="3"></input>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Kosárba</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% }); %>
</div>

<% include ../partials/footer %>