<html>
<head>
    <title>Feltöltés sikeres</title>
</head>
<body>
Sikeres feltöltés: <%= item %>: <%= count %>
<br/>

<br/>
<a href="upload">vissza</a>
<a href="/">vissza a főoldalra</a>

<script>
    window.onload = function () {
        console.log("hi");
        console.log(items);
    }
</script>
</body>
</html>