<html>
<head>
    <title>Feltöltés sikeres</title>
</head>
<body>
<h1> Sikeres feltöltés: <%= count %> <%= item %> </h1>
<br/>
<h2>Szertár elemei:</h2>
<table>
    <% for(var i=0; i < items.length; i++) { %>
    <tr>
        <td><%= items[i].name %></td>
        <td><%= items[i].count %></td>
    </tr>
    <% } %>
</table>

<br/>

<a href="/">vissza</a>

</body>
</html>