<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feltöltés</title>
</head>
<body onload="init()">
<h1>Feltöltés</h1>
<form method="post" action="/upload">
    <fieldset>
        <legend>Alap adatok</legend>
        <label>Tárgy: </label>
        <select name="item" id="dropdown" onchange="changed()" autofocus>
            <option value="football">Focilabda</option>
            <option value="basketball">Kosárlabda</option>
            <option value="newItem">Új hozzáadása</option>
        </select>
        <div id="newItemInputDiv"></div>
        <br/>
        <label>Elemszám: </label>
        <input name="count" type="text" value="1" placeholder="Darabszám" required>
        <br/>
        <input type="submit" value="Feltöltés!">
</form>

<script>
    function init() {

    }

    function addNewItem() {
        var inputDiv = document.getElementById("newItemInputDiv");
        var inputField = document.createElement("INPUT");
        inputField.setAttribute("type", "text");
        inputField.placeholder = "Új tárgy neve";
        inputField.required = true;
        inputField.name = "newItem";
        inputDiv.appendChild(inputField);
    }

    function changed() {
        var dropdown = document.getElementById("dropdown");
        if (dropdown.value === "newItem") {
            addNewItem();
        } else {
            clearDiv();
        }
    }

    function clearDiv() {
        var div = document.getElementById("newItemInputDiv");
        while (div.firstChild) {
            div.removeChild(div.firstChild);
        }
    }
</script>
</body>
</html>