<!doctype html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Feltöltés</title>
</head>
<body> 
	<h1>Feltöltés</h1>
	<form method="post" action="/upload">
		<fieldset>
		<legend>Alap adatok</legend>
		<label>Tárgy: </label>
		<select name="item" autofocus onchange="changed()" id="dropdown">
			<option value="football">Focilabda</option>
			<option value="basketball">Kosárlabda</option>
			<option value="newItem">Új hozzáadása</option>
		</select>
		<br/>
		<label>Elemszám: </label>
		<input name="count" type="text" value="1" required>
		<br/>
		<input type="submit" value="Feltöltés!">
	</form>

	<script type="text/javascript">
		function changed() {
			console.log("inChanged");
			var element = document.getElementById("dropdown");
			console.log("element found value is " + element.value);
			if (element.value === "newItem") {			
				console.log("ok");
			}
			console.log("changed ends");
		}
	</script>
</body>
</html>